.App {
  width: 400px;
  background: white;
  display: inline-block;
  text-align: center;
  float: left;
  border: red;
}

.head{
  margin: 0px;
}

.option{
  float: left;
  width: 160px;
  border: 2px solid blue;
}
.input{
  width: 160px;
  float: left;
  border: 2px solid yellow;
}
.output{
  //width: 250px;
  float: left;
  border: 2px solid green;
}
.acc{
  width: 160px;
  float: left;
  border: 2px solid purple;
}
.stage{
  width: 160px;
  float: left;
  border: 2px solid lightblue;
}
.health{
  width: 160px;
  float: left;
  border: 2px solid lime;
}
.type{
  margin: 0px;
}
